@import '../../styles/variables.scss';

.this__day {
    box-sizing: border-box;
    padding: 20px;
    max-width: 400px;
    width: 100%;

    background: var(#{--components-background-default});

    transition: background .3s ease-in-out;
    
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);

    border-radius: 20px;
    position: relative;

    svg {
        width: 119px;
        height: 119px;

        position: absolute;
        top: 46px;
        right: 20px;
    }
}

.top__block {
    margin-bottom: 30px;
}

.bot__block {
    font-size: 25px;
    color: $base-color;
}

.temperature {
    color: $primary-color;
    font-size: 96px;
    font-weight: 500;
}

.day {
    font-size: 40px;
    color: var(#{--text-color-default});
    transition: color .3s ease-in-out;
}
