@import '../../styles/variables.scss';

.blur {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
    height: 100vh;
    width: 100%;

    background: rgba(0, 0, 0, 0.25);
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 40px;
    max-width: 750px;
    width: 100%;
    background: $light-background;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    border-radius: 20px;

    &__info {
        &__temp {
            font-size: 60px;
            font-weight: 500;
            color: $primary-color;
        }

        &__day {
            font-size: 25px;
            margin-bottom: 12px;
        }

        &__time {
            font-size: 15px;
            color: $base-color;
            margin-top: 12px;
        }   

        &__city {
            font-size: 15px;
            color: $base-color;
        }
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.this__day__info__items {
    display: flex;
    flex-direction: column;
    gap: 24px;
}