@import '../../styles/variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

svg {
    cursor: pointer;
}

.logo {
    svg {
        width: 65px;
        height: 65px;
    }
}

.title {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    color: $primary-color;
}